<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="x86ConnectString" value="DRIVER={MySQL ODBC 3.51 Driver};SERVER=127.0.0.1; DATABASE=educatemanagement;uid=root;pwd=123456;OPTION=3;Charset=big5" />
    <add key="x64ConnectString" value="DRIVER={MySQL ODBC 5.1 Driver};SERVER=127.0.0.1; DATABASE=educatemanagement;uid=root;pwd=123456;OPTION=3;Charset=utf8" />
    <add key="UltraKey" value="EMS@Student*Class" />
    <add key="Salt" value="**#dwosheng#886-5000" />
    <add key="PrintFont" value="12" />
    <add key="PrintExtraFont" value="18" />
    <add key="PrintTitleFont" value="14" />
    <add key="PrintBoldFont" value="true" />
    <add key="SystemType" value="x64" />
  </appSettings>
</configuration>